body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.devicon-react-original-wordmark {
  font-size: 5rem
}
.devicon-javascript-plain {
  font-size: 5rem
}
.devicon-python-plain-wordmark {
  font-size: 5rem
}
.devicon-nodejs-plain-wordmark {
  font-size: 5rem
}
.devicon-html5-plain-wordmark {
  font-size: 5rem
}
.devicon-css3-plain-wordmark {
  font-size: 5rem
}
.devicon-mysql-plain-wordmark {
  font-size: 5rem
}
.devicon-c-plain {
  font-size: 5rem
}
.devicon-express-original-wordmark {
  font-size: 5rem
}
.devicon-bootstrap-plain-wordmark {
  font-size: 5rem
}
.devicon-git-plain-wordmark {
  font-size: 5rem
}
.devicon-jquery-plain {
  font-size: 5rem
}
.devicon-linux-plain {
  font-size: 5rem
}
.devicon-nginx-original {
  font-size: 5rem
}
.devicon-ubuntu-plain {
  font-size: 5rem
}
.devicon-visualstudio-plain {
  font-size: 5rem
}